.link-container{
    padding: 10px;
    text-align: center;
    width: 70px;
    margin-bottom: 10px;
}

.link-container:nth-child(1){
    background-color: #5352ed;
    padding-top: 30px;
}

.link-container:hover{
    cursor: pointer;
}

.link-container:hover ion-icon{
    color: #5352ed;
}

.link-container:hover:nth-child(1) ion-icon{
    color: white;
    cursor: auto;
}

ion-icon{
    font-size: 34px;
}