.card {
  width: 100%;
  aspect-ratio: 1/0.5;
  background-color: #1a1f24;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  border-radius: 25px;
}

.card:hover {
  background-color: #303841;
  transform: scale(1.03);
}

.card div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.card div h3{
  font-size: 20px;
  margin: 0;
}

.card div p{
  margin: 0;
}

.card div ion-icon{
  font-size: 40px;
}

.card .trash ion-icon{
  font-size: 20px;
  padding: 5px;
}

.card .trash ion-icon:hover{
  background-color: #B53471;
  border-radius: 100px;
}