.app-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;  
}

.app-container-child{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.main-app-outlet{
    width: 100%;
}

header{
    height: 100vh;
    width: 300px;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.50);
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

.logo-container-main{
    width: 70%;
    margin: auto;
}

.nav-li-link Link, .nav-li-link Link:visited {
    list-style: none;
}